.search-btn {
    background-color: rgb(76, 6, 141);
    border-radius: 15px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    color: white;
}

.search-btn:hover  {
    background-color: rgb(58, 7, 105);
}

.search-btn:focus {
  outline: none;   
}